:root {
  font-size: 16px;

  /* Colors */
  --bg-l0: rgb(246 246 248);
  --bg-l1: rgb(255, 255, 255);
  --slate-50: rgb(226 232 240);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate: rgb(15 23 42);
  --primary: rgb(19 91 236);

  /* Text */
  --text-sm: 0.875rem;
  --weight-medium: 500;
  --weight-bold: 700;
  --text-title-large: calc(26 * 0.0625) rem;
  --text-h1: calc(22 * 0.0625) rem;
  --text-h2: calc(17 * 0.0625) rem;
  --text-h3: calc(15 * 0.0625) rem;
  --text-headline: calc(13 * 0.0625) rem;
  --text-body: calc(13 * 0.0625) rem;
  --text-callout: calc(12 * 0.0625) rem;
  --text-subhealine: calc(11 * 0.0625) rem;
  --text-footnote: calc(10 * 0.0625) rem;
  --text-caption: calc(10 * 0.0625) rem;

  /* Shadows */
  --shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
  --shadow-primary: 2px 2px 6px 0 rgb(from var(--primary) r g b / 50%);

  /* Borders */
  --border: 1px solid rgba(120, 120, 120, 0.6);
  --border-transparent: 1px solid transparent;
  --border-primary: 1px solid var(--primary);
  --border-dashed: 2px dashed rgba(90, 90, 90, 0.8);
  --border-heavy: 2px solid var(--slate);
  --border-radius: 1rem;
  --round: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--slate);
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}

:hover {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--bg-l0);
  font-family:
    Space Grotesk,
    sans-serif;
}

.katex-display {
  margin: 0 !important;
  padding: 0 !important;
}
