@charset "UTF-8";
@import "@computational-biology-aachen/design/tokens.css";

/* Note: setting height: 100% and overflow: scroll on body / html breaks
window.scrollTo/window.scrollY as that scrolls via the viewport.
Set min-height: 100vh; on #app in app.html instead
*/
html,
body {
  margin: 0;
  background-color: var(--color-bg);
  padding: 0;
  width: 100%;
  color: var(--color-text);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-sans);
}

.katex-display {
  margin: 0 !important;
  padding: 0 !important;
}
