:root {
    font-size: 16px;
    --text-title-large: calc(26 * 0.0625)rem;
    --text-h1: calc(22 * 0.0625)rem;
    --text-h2: calc(17 * 0.0625)rem;
    --text-h3: calc(15 * 0.0625)rem;
    --text-headline: calc(13 * 0.0625)rem;
    --text-body: calc(13 * 0.0625)rem;
    --text-callout: calc(12 * 0.0625)rem;
    --text-subhealine: calc(11 * 0.0625)rem;
    --text-footnote: calc(10 * 0.0625)rem;
    --text-caption: calc(10 * 0.0625)rem;
}

p {
    /* Constraint max width of paragraphs to 60 characters for better
    legibility */
    max-width: 60ch;
}
